<form class="profile-form">
    <a class="profile-form__label" data-href="#">Профиль</a>
    <div class="profile-form__card">
        <div class="profile-form__fields-left">
            <input class="profile-form__input" type="text" value={{ data.nickname }}>
            <input class="profile-form__input" type="text" value={{ data.email }}>
            <input class="profile-form__input" type="text" value="">
            {{> ../form-button/form-button.handlebars button}}
        </div>
        <div class="profile-form__fields-right">
            <img class="profile-form__image" src={{ data.image }}>
            <a class="profile-form__label" data-href="#">Счет: {{ data.score }}</a>
            <a class="profile-form__label" data-href="#">Побед: {{ data.wins }}/{{ data.games }}</a>
        </div>
    </div>
</form>